.home {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  color: #fff;

  h1,
  p {
    font-family: 'Open Sans';
  }

  h1 {
    font-size: 44px;
  }

  p {
    font-size: 18px;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 62, 107, 0.30);
    content: "";
  }

  .banner-image {
    vertical-align: middle;
  min-height: 100%;
  width: 100%;
  }

  .banner-caption {
    position: absolute;
  top: 35%;
  width: 100%;
  z-index: 2;
  }
}