.about {
  background-color: #FFF;
}
.about i {
  font-size: 36px;
}
.about .activity {
  padding: 30px;
}
.contact {
  background-color: #3F51B5;
  padding-bottom: 40px;
}
.contact .container {
  position: relative;
}
.contact .container .content {
  margin-top: -50px;
  width: 100%;
}
.contact .email:before {
  content: 'staff.atlanticsurfcup';
}
.contact .email:after {
  content: 'gmail.com';
}
.contact .social {
  font-size: 20px;
}
.contact .social a {
  text-decoration: none;
  color: #333333;
}
.contact .social sup i {
  color: #333333;
  font-size: 10px;
}
.contact .social i {
  padding-right: 20px;
  color: #303f9f;
}
.subfooter {
  background-color: #f4f4f4;
  color: #333333;
}
.subfooter p {
  padding: 40px 0;
  margin: 0;
}
.navbar.navbar-default {
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar.navbar-default .navbar-header {
  margin-left: 0;
  margin-right: 0;
}
.navbar.navbar-default .navbar {
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-nav li a {
  color: white;
  padding: 30px 20px;
  font-size: 18px;
  font-weight: 300;
}
.navbar.navbar-default .navbar-nav li.active a {
  background-color: transparent;
  color: #77cdff;
}
.navbar.navbar-default .navbar-nav li a:hover {
  color: #77cdff;
}
.navbar.navbar-default .site-name-and-slogan {
  float: left;
}
.navbar.navbar-default .site-name {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar.navbar-default .site-name a {
  color: #ffffff;
  text-decoration: none;
}
.navbar.navbar-default .site-name a:hover {
  text-decoration: none;
}
.navbar.navbar-default .site-slogan {
  font-size: 12px;
}
.fixed-header-on .navbar.navbar-default {
  background-color: #303f9f;
  padding: 5px 0;
}
.fixed-header-on .navbar.navbar-default li a {
  padding: 20px 20px;
}
.fixed-header-on .site-name {
  font-size: 24px;
}
.fixed-header-on .logo {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  margin-top: 0;
  margin-bottom: 0;
}
.separator {
  position: relative;
  z-index: -400;
  max-height: 400px;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('/assets/fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('/assets/fonts/Roboto-Thin.ttf');
}
.home {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  color: #fff;
}
.home h1,
.home p {
  font-family: 'Raleway';
}
.home h1 {
  font-size: 44px;
}
.home p {
  font-size: 18px;
}
.home:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 62, 107, 0.3);
  content: "";
}
.home .banner-image {
  vertical-align: middle;
  min-height: 100%;
  width: 100%;
}
.home .banner-caption {
  position: absolute;
  top: 35%;
  width: 100%;
  z-index: 2;
}
.sponsor {
  background-color: #FFF;
}
.sponsor a {
  text-decoration: none;
}
.sponsor .panel .panel-body h3 {
  margin-bottom: 3px;
}
.sponsor .panel .panel-img {
  background-color: #212121;
}
/*
Eléments généraux
 */
html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 1.50;
  color: #333333;
  background-color: #ffffff;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  font-family: 'Roboto-Light';
}
.section {
  padding: 40px 20px;
}
/*
Helpers
 */
.space {
  padding: 20px 0;
}
.text-info {
  color: #03a9f4;
}
.spacer {
  content: '';
  padding-bottom: 62px;
}
.shadow-1 {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.separator {
  height: 400px;
  overflow: hidden;
}
